body
{
background-color:#f39c12;
display:flex;
justify-content:center;
align-items: center;
min-height: 100vh;
}
.wrapper {
    font-family: 'Raleway', Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    width: 100%;
    max-width: 1000px;
    border-radius: 8px;
    padding: 6px 12px ;
    margin: 25px;
    display:flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}
.wrapper .plan {
    margin: 0;
    width: 100%;
    position: relative;
    float: left;
    background-color: #262626;
    border: 1px solid #1e1e1e;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.wrapper .plan:hover, wrapper .plan.hover {
    background-color: #1c1c1c;
    
}



.wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}


.wrapper header {
    position: relative;
    padding: 20px 10px;
}



.wrapper .pricing-table__img {
    margin-bottom: 24px;
    max-width: 100%;
  }    


.wrapper .pricing-table__title {
    top: 0;
    font-weight: 800;
    margin: 10px 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.wrapper .plan-features {
    padding: 0;
    margin: 0 0 40px;
    list-style: outside none none;
    font-size: 0.8em;
    text-align: left;
    
}



.wrapper .plan-features li {
    padding: 5px 5%;
    font-weight: 500;
    opacity: 0.5;
    border-left: 5px solid #f39c12;
    margin: 2px 20px;
}
.wrapper .sleepy
{
    color: #ffffff;
    display: block;
    font-size: 32px;
    font-weight: 700;
}
.wrapper .plan-select {
    background-color: rgb(153, 0, 0);
    text-align: center;
}

.wrapper .plan-select a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    margin: 20px;
    border-radius: 40px;
    font-size: 0.75em;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    background-color: #f39c12;
}
.wrapper .plan-select a:hover {
    background-color: rgb(0, 204, 0);
}

@media(min-width: 700px)
 {

    .wrapper{
        flex-direction: row;
        width: 100%;
    }
    
    
    .wrapper .plan-select a {
        margin: 20px;
    }

    
}