/* ==========================================================================
Google Fonts
========================================================================== */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
/* ==========================================================================
clearfix
========================================================================== */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* ==========================================================================
html, body and stuff
========================================================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'PT Sans', sans-serif;
  background-color: #f3f3f3;
  margin-left:50px;
  margin-right:-50px;
  width: auto;
}

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
  }
  
  .icon-button:hover {
    cursor: pointer;
  }
  
  .icon-button:active {
    background: #cccccc;
  }
  
  .icon-button__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 15px;
    height: 15px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .inline {
    display: inline-block; 
  }
  
  .profile-info
  {
    display: inline-block; 
  }

  
  .sidebar-brand #close-sidebar
  {
     
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      
  }

  .sidebar-search > div {
    padding: 10px 20px;
  }
  
  .layout-badge {
    position: absolute;
    top: auto;
    right: 10px;
    float: right;
    padding: 5px 10px;
    border-radius: 50%;
    background: rgb(12, 134, 241);
    color: white;
  }

  .widget-badge {
    position: absolute;
    top: auto;
    right: 10px;
    float: right;
    padding: 5px 10px;
    border-radius: 50%;
    background: rgb(57, 211, 26);
    color: white;
  }

  .red-badge {
    position: absolute;
    top: auto;
    right: 50px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }

  
  
  

/* ==========================================================================
text
========================================================================== */
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

/* ==========================================================================
padding / margin
========================================================================== */
.padding1rem {
  padding: 1rem;
}

.paddingRight2rem {
  padding: 0 2rem 0 0;
}

/* ==========================================================================
links
========================================================================== */
a {
  color: #4b4e53;
}

/* ==========================================================================
headlines
========================================================================== */
/* ==========================================================================
awesome Fonts
========================================================================== */
i {
  color: #d1d4d9;
  margin: 0 1rem 0 0;
}

/* ==========================================================================
layout
========================================================================== */
.container {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.posAbs {
  position: absolute;
}

.third {
  width: 33.3333%;
}

.half {
  width: 50%;
}

.twoThird {
  width: 66.6666%;
}

.quarter {
  width: 25%;
}

label {
  cursor: pointer;
  border-right: 1px solid #d1d4d9;
  display: block;
  height: 4rem;
  width: 4rem;
  position: relative;
}
label span {
  border-radius: 15%;
  height: 3px;
  width: 32px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: all 0.3s ease-out;
}
label span:before {
  border-radius: 15%;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: white;
  top: 400%;
  transition: all 0.3s ease-out;
}
label span:after {
  border-radius: 15%;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: white;
  top: -400%;
  transition: all 0.3s ease-out;
}

label:hover span {
  height: 0;
  transition: all 0.3s ease-out;
}
label:hover span:before {
  height: 3px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-out;
}
label:hover span:after {
  height: 3px;
  transform: rotate(45deg);
  transition: all 0.3s ease-out;
}

.bar {
  color: white;
  background-color: #4a4e54;
  line-height: 4rem;
  border: 1px solid grey;
}

nav {
  border-left: 1px solid #d1d4d9;
  border-right: 1px solid #d1d4d9;
  border-bottom: 1px solid #d1d4d9;
  max-width: 300px;
  background-color: white;
  transform: translateX(-100%) scale(1, 0.1);
  transform-origin: top left;
  transition: all 0.3s ease-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  border-top: 1px solid #efefef;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.6s ease-out;
}
nav ul li a {
  transition: all 0.3s ease-out;
  line-height: 1rem;
  text-decoration: none;
  color: #8a8d92;
  display: block;
  padding: 1rem;
}
nav ul li:first-child {
  border-top: none;
}
nav ul li:hover a {
  color: white;
  background-color: #6d747e;
  transition: all 0.3s ease-out;
}
nav ul li:hover a i {
  color: #6d747e;
}

.navBtn:checked ~ nav {
  transform: translateX(0);
  transition: all 0.3s ease-out;
}

.navBtn:checked ~ nav ul li {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.6s ease-out;
}

.navBtn {
  display: none;
}

/* ==========================================================================
Main Content
========================================================================== */
  .sidebar-container
{
  /* position: absolute; */
  top: auto;
  bottom: 0;
  width: 25%;
}

.main-content
{
  position: absolute;
  top: 100px;
  left: 30%;
  bottom: 0;
  width: 75%;
}  

/* ==========================================================================
Info Boxes
========================================================================== */
.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: white;
  padding: 5px;
  width: 200px;
  height: 100px;
  margin-top: 10px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.square
{
  height:90px;
  width: 90px;
}


/* .fafa-background
{
  width: 50px;
  height:100px;
  display: flex;
  background:black;
} */

/* ==========================================================================
Media Queries
========================================================================== */

@media (max-width: 480px) {
  body{margin-left: 0px; margin-right: -320px;}
  .sidebar-container{width:35%;}
  .flex-container{margin-left: 500px; width:480px;}
  .info-flex{margin-left: 100px;}
  .note1{margin-left: 60px;}
  .recap{margin-left: 200px; width:480px; height: 250px;}
  .visitor{margin-left: 180px; width:480px; height: 250px;}
  .BR{margin-top: 250px; margin-left: -460px; width:300px; height: 200px;}
  .tbc1{display: none;}
  
  .tbc2{display: none;}
  .flex-item{margin-right: 1px;}

}

@media (max-width: 768px) {

  /* body{margin-left: 0px; margin-right: -320px;} */
   .sidebar-container{width:30%;} 
   .tbc1{margin-left: 60px;}
   .flex-container{margin-left: auto; width:480px;}
   .flex-item{margin-right: 1px;}
   .recap{margin-left: 50px; width:500px; height: 250px;}
   .visitor{margin-left: 50px; width:480px; height: 250px;}
   .BR{margin-top: 280px; margin-left: -460px; width:300px; height: 300px;}


}

@media (max-width: 960px)
{
  body{margin-left: 0px; margin-right: 150px;} 
  .sidebar-container{width:30%;} 
   .tbc1{margin-left: 40px;}
  .flex-container{margin-left: -100px; width:480px;}
  .flex-item{margin-right: 1px;}
  .info-flex{margin-left: 100px; display: flex;}
  .recap{margin-left: auto; width:500px; height: 250px;}
  .visitor{margin-left: -50px; width:480px; height: 360px;}
  .BR{margin-top: 280px; margin-left: -560px; width:300px; height: 300px;} 


}

@media (max-width: 1024px)
{
  body{margin-left: 0px; margin-right: -30px;} 
  .sidebar-container{width:30%;} 
   .tbc1{margin-left: 40px;}
  .flex-container{margin-left: 10px; width:480px;}
  .flex-item{margin-right: 1px;}
  .info-flex{margin-left: 100px; display: flex;}
  .recap{margin-left: 50px; width:720px; height: 300px;}
  .visitor{margin-left: -20px; width:700px; height: 400px;}
  .BR{margin-top: 280px; margin-left: -560px; width:300px; height: 300px;} 


}

@media (max-width: 1200px)
{
  body{margin-left: 0px; margin-right: -30px;} 
  /* .sidebar-container{width:30%;} 
   .tbc1{margin-left: 40px;}
  .flex-container{margin-left: 10px; width:480px;}
  .flex-item{margin-right: 1px;}
  .info-flex{margin-left: 100px; display: flex;}*/
  .recap{margin-left: -20px; width:900px; height: 300px;}
  .visitor{margin-left: -80px; width:600px; height: 300px;}
  .BR{margin-top:-50px;  margin-left:-50px; width:300px; height: 300px;}  


}