body {
    background-color: #333333;
    color: #FFF;
}

.navbar {
    border-bottom: #ccfa01 3px solid;
    opacity: 0.8;
}

/*Home section styles*/
#home-section {
    background-image: url("back-ground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    
}

#home-section .home-inner {
    padding-top: 150px;
}

#explore-head{
    color: white;
    background-color: #fff;
}

 